html {
  background-color: #d3d0d7;
  height: 100%; }

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.wrapper {
  display: flex;
  flex-direction: column; }

.keys,
.sliders,
.controls {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly; }

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black; }

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600; }

.armed {
  transform: scale(1.1);
  border-color: #c50f0f;
  box-shadow: 0 0 1rem #c50f0f; }

kbd {
  display: block;
  font-size: 2rem; }

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600; }
