.control-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  padding: 0 15px;
  margin-bottom: 10px;
}

.control-button-wrapper {
  display: flex;
  flex-direction: column;

  .label {
    font-style: italic;
    font-size: 0.90em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
  }
}

.control-button {
  height: 40px;
  padding: 15px 10px 10px;
  background-color: rgb(20, 20, 24);
  border-radius: 5px;
  color: rgb(244, 244, 244);
  text-align: center;
  border: 2px solid rgb(0, 0, 0);

  &.record {
    border-radius: 40px;
    width: 40px;
    margin: 0 auto;
    background-color: rgb(215, 55, 55);
  }

  &.play {
    border-radius: 40px;
    background-color: rgb(190, 100, 50);
  }

  &.bank {
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(134, 182, 206);
    color: rgb(0, 0, 0);
  }
}
